<div class="solAnaMenu ng-scope" ng-class="{acik: isActive('/Hesabim-Anasayfa') &amp;&amp; IsMobileDevice}" ng-controller="cntrlSolMenuHesabim">
    <ul>
        <li><a href="/userpanel" ng-class="{aktif: isActive('/Uyelik-Bilgilerim')}" class="ng-binding"><i class="fa fa-user"></i>Üyelik Bilgilerim</a></li>
        <li><a href="/userpanel/edit" ng-class="{aktif: isActive('/AdresDefterim')}" class="ng-binding"><i class="fa fa-user"></i>Bilgilerimi Düzenle</a></li>

        <li><a href="/orders" ng-class="{aktif: isActive('/Siparislerim')}" class="ng-binding"><i class="fa fa-bell"></i>Siparişlerim</a></li>
        <li><a href="/shopcart" class="ng-binding"><i class="fa fa-shopping-cart"></i>Alışveriş Sepetim</a></li>
        <li><a href="/userpanel/yorumlarim" ng-class="{aktif: isActive('/Favorilerim')}" class="ng-binding"><i class="fa fa-heart"></i>Yorumlarım </a></li>
        <!--<li><a href="#IstekListelerim" ng-class="{aktif: isActive('/IstekListelerim')}" class="ng-binding"><i class="fa fa-cube"></i>İstek Listelerim </a></li>
        <li><a href="#FiyatAlarmListem" ng-class="{aktif: isActive('/FiyatAlarmListem')}" class="ng-binding"><i class="fa fa-arrow-down"></i>Fiyat Alarm Listem </a></li>
        <li><a href="#StokAlarmListem" ng-class="{aktif: isActive('/StokAlarmListem')}" class="ng-binding"><i class="fa fa-arrow-up"></i>Stok Alarm Listem</a></li>

        <li><a href="#ParaPuanlarim" ng-class="{aktif: isActive('/ParaPuanlarim')}" class="ng-binding"><i class="fa fa-circle"></i>Para Puanlarım</a></li>
        <li><a href="#ParaPuanDetay" ng-class="{aktif: isActive('/ParaPuanDetay')}" class="ng-binding"><i class="fa fa-tasks"></i>Para Puan Detaylarım</a></li>-->

        <li><a href="/userpanel/ticket" ng-class="{aktif: isActive('/DestekTaleplerim')}" class="ng-binding"><i class="fa fa-life-ring"></i>Yeni Destek Talebi</a></li>

        <li><a href="/userpanel/ticket/show" ng-class="{aktif: isActive('/HavaleBildirim')}" class="ng-binding"><i class="fa fa-share"></i>Destek Taleplerim </a></li>

        <li><a href="/logout" class="ng-binding"><i class="fas fa-sign-out-alt mr-2"></i>Güvenli Çıkış </a></li>
    </ul>
</div>