<form align="center" method="post" action="{{ path('admin_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Silmek istediğinize eminmisiniz?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-large btn-primary bg-danger dark text-white fw600 text-center">SİL</button>
    <a href="{{ path('admin_product_index') }}" class="btn btn-large btn-primary bg-alert dark text-white fw600 text-center">Lİsteye Dön</a>
</form>
